.footer {
  padding: 25px;
  background-color: rgb(243, 243, 243);
  margin-top: 300px;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center
}
.footer-text  {
  display: flex;
  color: $lightGrey;
  font-size: 12px;
}
.footer-logo  {
  width: 125px;
}

//Media

@media screen and (max-width: 576px) {
  .footer {
    padding: 15px;
  }
  .footer-text {
    font-size: 10px;
  }
  .footer-logo {
    width: 100px;
  }
}

@media screen and (max-width: 380px) {
  .footer {
    padding: 10px;
  }
  .footer-text {
    font-size: 9px;
    text-align: center;
  }
  .footer-logo {
    width: 90px;
  }
}