.footer{
    padding: 25px;
    background-color: rgb(243, 243, 243);
    margin-top: 300px;
}
.footer-content{
    display: flex;
    justify-content: center;
}
.footer-text{
    display: flex;
    margin-top: 70px;
    color: rgb(160, 160, 160);
}
.footer-logo{
    width: 150px;
    height: 150px;
}