// Header slider main settings

.header {
  margin-top: 80px;
  height: calc( 100vh - 80px );
  position: relative;
  z-index: 1;
}
.header .slick-slider {
  height: 100%;
}
.header .slick-dots {
  width: auto;
}
.header .slick-list {
  height: 100%;
}
.header .slick-track {
  height: 100%;
}
.header .slick-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

//Header Dots 

.header .slick-dots {
  position: absolute;
  top: 35%;
  transform: translateY(-35%);
  right: 40px;
  flex-direction: column;
}
.header .slick-dots li {
  margin: 2px 5px;
}
.header .slick-dots li button:before {
  content: "◇";
  font-size: 25px;
  transition: color 0.5s, opacity 0.5s;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $grey;
}

//Header slide 

.header-slide-content {
  padding-left: 50px;
}
.header-slide-content h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $grey;

}
.header-slide img {
  height: 60%;
}

//Media 

@media screen and (max-width: 920px) {
  .header .slick-slide {
    flex-wrap: wrap;
    align-items: stretch;
  }
  .header-slide img {
    width: auto;
    max-width: 90%;
    height: 50%;
    margin: 25px 0;
  }
  .header-slide-content {
    width: 100%;
    padding: 25px 15px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .header .slick-dots {
    right: 10px;
  }
  .header-slide img {
    height: 40%;
  }
}