// Header slider main settings

.header {
  margin-top: 100px;
}
.header .slick-slider {
  height: 100%;
}
.header .slick-dots {
  width: auto;
}
.header .slick-list {
  height: 100%;
}
.header .slick-track {
  height: 100%;
}
.header .slick-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Header Dots 

.header .slick-dots {
  position: absolute;
  top: 35%;
  transform: translateY(-35%);
  right: 40px;
  flex-direction: column;
}
.header .slick-dots li {
  margin: 2px 5px;
}
.header .slick-dots li button:before {
  content: "◇";
  font-size: 25px;
  transition: color 0.5s, opacity 0.5s;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $grey;
}

//Header slide 

.header-slide-content {
  padding-left: 50px;
}
.header-slide-content h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $gold;
}